.chapter_wrap {

  display: block;
  //overflow: hidden;

  .bgimage {
    position: fixed;
    min-width: 100%;
    height: 200vh;
    top: 0;
    left: 0;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #fff;
  }
  &.chapter1 .bgimage { background-image: url(../images/bg_whatitis.jpg); }
  &.chapter2 .bgimage { background-image: url(../images/bg_transmission.jpg); }
  &.chapter3 .bgimage { background-image: url(../images/bg_prevention.jpg); }
  &.chapter4 .bgimage { background-image: url(../images/bg_treatment.jpg); }
  &.chapter5 .bgimage { background-image: url(../images/bg_communication.jpg); }

}
.header--chapter {
  @include span-columns(12);
  //background-color: rgba(250,50,50,0.2);
  padding-left: 30vw;
  min-height: 60vh;
  text-align: left;
  color: white;
  display: flex;
  align-items: center;

  hgroup {
    h1 {
      //font-size: 3rem;
      font-weight: 400;
      span {
        font-weight: 600;
        font-size: 0.6em;
        display: block;
      }
    }

    p {
      font-size: 1rem;
      font-weight: 100;
      letter-spacing: 0.04em;
    }
  }
}


.theme {
  @include span-columns(12);
  padding: 10vh 3vw 20vh 30vw;
  position: relative;

  .bg_overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    // background-size: 100% auto;
    // background-repeat: no-repeat;
    // background-position: fixed;
    // background-image: url(../images/img_mountains02.jpg);
    z-index: -1;
    opacity: 0.4;
  }
  &--header {

    h2 {
      font-weight: 100;
      color: #FFF;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      font-size: 2.6em;
      margin-bottom: 0.6em;
    }
  }
  // &_21 .bg_overlay { background-image: url(../images/img_mountains02.jpg); }
  // &_22 .bg_overlay { background-image: url(../images/img_mountains03.jpg); }
  // &_23 .bg_overlay { background-image: url(../images/img_mountains04.jpg); }
}


.main_video {
  //@include span-columns(10);
  margin: 0 0 4vh;
  position: relative;

  .video--caption {
    position: absolute;
    top: 6vh;
    left: 6vh;
    p {
      width: 28vw;
    }
  }

}

.extras {
  @include span-columns(12);
}
.extra-pop {
  min-width: 70vw;
}


.animation_films {
  @include span-columns(12);
  padding-left: 24vw;
  padding-right: 2vw;
}
  .film1, .film2 {
    @include span-columns(6);
    h2 {
      font-size: 1.6em;
      margin-bottom: 0.4em;
      font-weight: 600;
    }
  }
  .film1 {
    margin-top: 5em;
  }
