---
layout: default
type: chapter
chapter_number: "4"
image: chapter_4_feature.jpg


en:
  title: Treatment
  intro: "An introduction to malaria, what is it and how it impacts us."
vi:
  title: Viet
  intro: Viet

---
<div class="chapter_wrap">
<aside>
  {% include chapter_nav.html %}
  {% include theme_nav.html chapter_number=page.chapter_number %}
</aside>

<header id="intro" class="header--chapter">
  {% include chapter_head.html %}
</header>

<main class="main" role="main">
  {% include theme_loop.html chapter_number=page.chapter_number %}
</main>
</div>
