---
layout: default
title: Overview
---


<div class="big-flip">
  <ul>
    {% for chapter in site.pages %}
      {% if chapter.type =='chapter' %}
      <li>
        <a href="{{ site.baseurl }}{{chapter.url}}" class="{% if page.url == '/chapters/chapter1.html' %}active{% endif %}">
          <div class="chapter-card">
            <div data-offset="-3" class="layer-1"><img src="{{site.baseurl}}/assets/images/{{chapter.image}}" alt="Chapter {{chapter.chapter_number}}: {{ chapter.[site.active_lang]title }}" /></div>
            <div data-offset="3" class="layer-2">
              <h2>{{ chapter.[site.active_lang]title }}</h2>
            </div>

            <div class="layer-4">
              <div class="skewed">
                <p>{{chapter.[site.active_lang]intro}}</p>
              </div>
            </div>
            <div class="ribbon-1">
              <h3>{{chapter.chapter_number}}</h3>
            </div>
          </div>
        </a>
      </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
